extends layout

block content
  h1.main-header= title
  p.main-header-subtitle Welcome to #{title}
  - function move() {window.location.href='/new'}
  each msg in messages
    .msg
      .user-metadata-container
        img(src='./images/user-icon.svg').user-img
        span.user-name #{msg.user} 
      .msg-container
        p.msg-text #{msg.text}
        p.msg-added-date #{dateFormatter(msg.added, "M/d/yyyy 'at' hh:mm a")}
  button(onclick="location.href='./new'").button-base
    img(src='./images/add-icon.svg')
    span New Message
